In [4]:
i=0
while i<=10 :
    print (i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
import pandas as pd
import numpy as np
import re

In [39]:
data = {'name': ["aaa", "sss","aaa","rrr","ppp"], 
        'phone number': ["919236548973", "9875624134",
                         "768767687","76868767","9876876787"]}
data = pd.DataFrame(data)
print data
print data.name.unique


def isValid(s): 
    Pattern = re.compile("(0/91)?[7-9][0-9]{9}") 
    return Pattern.match(s) 
for i in range(0, 5):
    s= data['phone number'][i]
    if (isValid(s)):  
        print ("Valid Number")      
    else : 
        print ("Invalid Number")

  name  phone number
0  aaa  919236548973
1  sss    9875624134
2  aaa     768767687
3  rrr      76868767
4  ppp    9876876787
<bound method Series.unique of 0    aaa
1    sss
2    aaa
3    rrr
4    ppp
Name: name, dtype: object>
Valid Number
Valid Number
Invalid Number
Invalid Number
Valid Number

In [26]:
data = np.array([['','Col1','Col2'],
                ['name',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
name    1    2
Row2    3    4

In [64]:
df.head

<bound method DataFrame.head of   name  phone number
0  aaa    9236548973
1  sss    9875624134>

In [127]:
df = pd.DataFrame({
                   'height': [94, 170],
                    'age':    [ 3,  29],
                    'weight': [31, 115]})

# print df.dtypes
df2 = pd.DataFrame([[5, 6,40],
                   [7, 8,50],
                   [3,4,59]
                ],columns=['age','height','weight'])
df=df.append(df2)
print(df)

   age  height  weight
0    3      94      31
1   29     170     115
0    5       6      40
1    7       8      50
2    3       4      59

age       5
height    5
weight    5
dtype: int64

In [122]:
df2

   age  height  weight
0    5       6      40
1    7       8      50
2    3       4      59

In [118]:
count=0
for number in range(5):
    count = count + number
    print(count)
print("The count is:", count)

0
1
3
6
10
('The count is:', 10)

In [131]:
df.sort_values(["height"], axis=0, ascending=False)

   age  height  weight
1   29     170     115
0    3      94      31
1    7       8      50
0    5       6      40
2    3       4      59

In [128]:
df.count()

age       5
height    5
weight    5
dtype: int64

In [160]:
import re
def isValidEmail(email):
    if len(email) > 7:
        if re.match("^.+@[a-zA-Z0-9]+[.]{1,2}[a-zA-Z0-9]+$", email) != None:
             return True
        return False
if isValidEmail("my.email@gmail.com") == True :
    print("This is a valid email address")
else:
    print("This is not a valid email address")

This is a valid email address